.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.header {
    width:400px;
    height: 100px;
    background-color: #141f40;
}


.left {
    width:150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
   
}

.box1 {
    float: left;
}
.box2{
    float: left;
}

.oright{
    width: 150px;
    height: 50px;
    background-color: #ff9e6b;
}

.rright{
    width: 150px;
    height: 100px;
    background-color: #8c2727;
}

.right {
    width:250px;
    height: 100px;
    background-color: #0093d7;
}

.yleft{
    width: 100px;
    height: 150px;
    background-color: #dbd403;
    float: left;
}



.footer {
    width:400px;
    height: 100px;
    background-color: #d98d30;
}


